@charset "UTF-8";

main {
    height: 900px;
}

header header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    text-align: center;
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}